[Unit]
Description=rusNAS Snapshot Scheduler
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rusnas-snap scheduled-run
ExecStart=/usr/local/bin/rusnas-snap replication run-all
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
