[Unit]
Description=rusNAS Security Self-Test
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/usr/lib/rusnas/sectest
ExecStart=/usr/lib/rusnas/sectest/sectest --json
StandardOutput=append:/var/log/rusnas/sectest.log
StandardError=append:/var/log/rusnas/sectest.log
User=root
Nice=19
IOSchedulingClass=idle
TimeoutStartSec=600
